@charset "utf-8";
/* CSS Document */



li{
	list-style: none;
}

h3{
	font-size: 20px;
}

body{
	background: white;
}

p{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}

h1,h2,h3,div,footer{
	 font-family: 'Oswald',sans-serif;
}

/*header*/
.header.row{
	margin-right: 0;
	margin-left: 0;
}
.header img{
	height: auto;
	width: auto;
}
.header.home{
	
}.header.nosotros{
	display: flex;
	background: url( "../img/quienes somos.jpg");
	background-position: center;
	flex-flow: column nowrap;
	background-size: cover;
	height: 50vh;	
	margin-bottom: 100px;
}.header.contacto{
	display: flex;
	background: url( "../img/visitenos.jpg");
	background-position: center;
	flex-flow: column nowrap;
	background-size: cover;
	height: 50vh;	
	margin-bottom: 100px;
}
.header.home
{
	margin-top: 0%;
	height: 95vh !important;	
	
}

.carousel-inner{
	height: 90vh !important;
}

.header.precios
{
	display: flex;
	background: url( "../img/price-2389232.jpg");
	background-position: center;
	flex-flow: column nowrap;
	background-size: cover;
	height: 50vh;	
	margin-bottom: 100px;
	
}


/*Main*/

.caja{
	margin-left: 10px;
	margin-right: 10px;
 	box-shadow: 5px 11px 5px -6px rgba(0,0,0,.50);
	width: 100%;
	height: 100%;
	
}

.caja a {
	font-size: 70px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.jumbotron{
	background: transparent;
    margin: 0 auto;
    margin-top: 10em;
    color: white;
	text-transform: uppercase;
}

i{
	margin-right: 5px;
	margin-left: 5px;
}
 	
/*card precios*/

.tab-content .card{
	margin: 0 auto;
}.tab-content .card li:hover{
	background: #007bff;
	color: white;
}
 
/*Contacto rapido*/
.contactoRapido {
	height: 50px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
}
/*Footer*/
/*
footer{
	background: #f2f2f2;
	text-align: center;
	margin-top: 40px;
	padding: 10px;
	font-family: 'arial';
	color: white;
}

footer h3{
	font-size: 1.5em;
}

footer p, footer li{
	font-size: 18px;
	text-align: center;
}

footer .redes-sociales i{
	font-size: 30px;
	margin-left: 5px;
	color: #f2f2f2;
}

footer.row{
	margin-right: 0;
	margin-left: 0;
}*/

/*Media*/

@media (max-width: 960px){
  .jumbotron {
    display: none;
  }
  .header.home,.header.precios,.header.nosotros,.header.contacto{
		height: 70vh !important;	
	}
	.header.precios{
		background-position: inherit !important;
	}
}


@media (max-width:550px){
	.header.home
	{
		margin-top: 0%;
		height: 35vh !important;	

	}

	.carousel-inner{
		height: 30vh !important;
	}
}







