/* Sass Document */
/* Sass Document */
footer {
  background: #f2f2f1;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  font-family: 'arial';
  color: white;
}
footer h3 {
  font-size: 1.5em;
}
footer p,
footer li {
  font-size: 18px;
  text-align: center;
}
footer .redes-sociales i {
  font-size: 30px;
  margin-left: 5px;
  color: #f2f2f1;
}
footer.row {
  margin-right: 0px;
  margin-left: 0px;
}
